@import 'tailwindcss';
@import 'tw-animate-css';

@source "../../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@source "../../../../apps/web/components/**/*.{js,ts,jsx,tsx}";
@source "../../../../apps/web/app/**/*.{js,ts,jsx,tsx}";
@source "../../../../apps/web/hooks/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: 0, 0%, 100%;
  --foreground: 220, 13%, 18%;

  --background-accent: 216, 20%, 95%;
  --foreground-accent: 220, 9%, 46%;

  --primary-color: 220, 75%, 56%;
  --primary-accent: 220, 100%, 97%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;

  --sidebar-background: 0 0% 98%;

  --sidebar-foreground: 240 5.3% 26.1%;

  --sidebar-accent: 240 4.8% 95.9%;

  --sidebar-accent-foreground: 240 5.9% 10%;

  --sidebar-border: 220 13% 91%;

  --sidebar-ring: 217.2 91.2% 59.8%;
}

.light-dark {
  --primary-color: 213, 93%, 79%;
  --primary-accent: 204 100% 11%;

  --background: 222.2 84% 4.9%;
  --foreground: 220, 14%, 96%;

  --background-accent: 215, 14%, 34%;
  --foreground-accent: 212, 12%, 84%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 20 0% 100%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 50 0% 100%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 0 0% 100%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

.light-orange {
  --background: 33, 100%, 98%;
  --foreground: 25, 35%, 20%;

  --background-accent: 33, 100%, 95%;
  --foreground-accent: 27, 35%, 40%;

  --primary-color: 28, 90%, 55%;
  --primary-accent: 33, 100%, 97%;

  --card: 0, 0%, 100%;
  --card-foreground: 25, 40%, 15%;

  --popover: 0, 0%, 100%;
  --popover-foreground: 25, 40%, 15%;

  --muted: 33, 45%, 92%;
  --muted-foreground: 28, 25%, 40%;

  --accent: 33, 90%, 95%;
  --accent-foreground: 28, 45%, 20%;

  --destructive: 0, 84%, 60%;
  --destructive-foreground: 0, 0%, 100%;

  --border: 33, 40%, 90%;
  --input: 33, 40%, 90%;
  --ring: 28, 90%, 55%;

  --radius: 0.5rem;

  --sidebar-background: 33, 100%, 97%;
  --sidebar-foreground: 25, 40%, 15%;

  --sidebar-accent: 33, 90%, 93%;
  --sidebar-accent-foreground: 28, 45%, 20%;

  --sidebar-border: 33, 40%, 90%;
  --sidebar-ring: 28, 90%, 55%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary-color));

  --color-background-accent: hsl(var(--background-accent));
  --color-foreground-accent: hsl(var(--foreground-accent));
  --color-primary-accent: hsl(var(--primary-accent));

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-ring: hsl(var(--ring));
  --color-input: hsl(var(--input));
  --color-border: hsl(var(--border));

  --text-xs: 14px;
  --text-sm: 15px;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.shadow {
  box-shadow: 0px 0px 5px 1px hsl(var(--background-accent));
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hidden[data-slot='scroll-area-thumb'] {
  display: none !important;
}

.nextjs-toast {
  display: none !important;
}

/* =========================
 custome scrollbar css
========================= */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.2s ease-in-out;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}

.scrollbar-custom::-webkit-scrollbar-corner {
  background: transparent;
}

/* =========================
 css for the message bubble
========================= */

.message-bubble-other::before {
  content: '';
  position: absolute;
  top: 0.75rem;
  left: -8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 8px solid var(--tw-bg-opacity, 1);
  border-bottom: 6px solid transparent;
  background: transparent;
}

.message-bubble-own::before {
  content: '';
  position: absolute;
  top: 0.75rem;
  right: -8px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 8px solid var(--tw-bg-opacity, 1);
  border-bottom: 6px solid transparent;
  background: transparent;
}

.no-select {
  user-select: none; /* Standard property */
  -webkit-user-select: none; /* Safari / iOS */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  pointer-events: none; /* Optional: disables clicks & right-clicks */
}
